[submodule "cloud-game-engine-frontend"]
	path = cloud-game-engine-frontend
	url = git@github.com:Mangiang/cloud-game-engine-frontend.git
[submodule "cloud-game-engine-backend"]
	path = cloud-game-engine-backend
	url = git@github.com:Mangiang/cloud-game-engine-backend.git
[submodule "plugins/cloud-game-engine-logger"]
	path = plugins/cloud-game-engine-logger
	url = git@github.com:Mangiang/cloud-game-engine-logger.git
[submodule "plugins/cloud-game-engine-game-view"]
	path = plugins/cloud-game-engine-game-view
	url = git@github.com:Mangiang/cloud-game-engine-game-view.git
[submodule "examples/cloud-game-engine-example-cube-move"]
	path = examples/cloud-game-engine-example-cube-move
	url = git@github.com:Mangiang/cloud-game-engine-example-cube-move.git
